[2016-06-03 07:35] Marschelloss opened #2 "Blue background in iTerm on MacOS El Capitan"
I get the known blue background in any Terminal App on MacOS El Capitan (tested on multiple devices). `$TERM` is set to `xterm-256color`. In iTerm2 i also set the colorsheme to dracula but i still get the blue background.

![Blue_Background](https://cloud.githubusercontent.com/assets/10983729/15771944/778282c2-296e-11e6-8444-dfa576fd3111.png)

[2016-06-11 21:09] ettomatic opened #3 "No vertical border on GUI"
Emacs GUI doesn't show any vertical border between windows:
![screenshot_20160611_222217](https://cloud.githubusercontent.com/assets/3269/15987448/c457cc02-3020-11e6-920c-3fa47c3bda2c.png)

I can see the border on Emacs in the console.

[2016-06-12 20:18] apierz commented on #2
This is not a perfect solution, but it works fairly well.

comment out
`(bg1 #282a36)`

in the list of color definitions and add

`(if (display-graphic-p) (setq bg1 "#282a36") (setq bg1 "#000000"))`

between

`(deftheme dracula)`

and

`(let ((class '(class color) (min-colors 89)))`

This checks to see if you are using on a graphical display. If so, it sets the bg color to the standard Dracula col

[2016-06-22 01:33] leandropincini opened #6 "Not found dracula-theme-1.2.0.el into MELPA stable"
Hi,

First of all, thanks for the dracula-theme for emacs...

I'm trying to use dracula-theme for emacs and, ok... it isn't in MELPA stable yet...
My question is, anybody have any idea about how long will it take?

TIA

[2016-06-22 01:45] leandropincini commented on #3
Hi @ettomatic
Sorry for this, I know this isn't fix the issue, but maybe you can try this a while before the issue is resolved.

;; enable line numbers globally
;; (global-linum-mode t)

;; format to '01234 |'
(setq linum-format "%4d \u2502 ")

Then, if you wanna see just the border, with no numbers:
(setq linum-format " \u2502 ")

[2016-06-23 02:37] apierz commented on #2
Using

`(if (display-graphic-p) (setq bg1 "#282a36") (setq bg1 nil))`

works even better. This will have terminal Emacs use your default terminal background, so if you have Dracula for iTerm installed it will use that color instead of turning blue.

<img width="739" alt="screen shot 2016-06-22 at 7 50 37 pm" src="https://cloud.githubusercontent.com/assets/7518085/16290492/ad142a0a-38b2-11e6-9bb0-7

[2016-07-10 20:18] nesl247 opened #10 "Maintainer Wanted"
Hey everyone,

We're looking for a maintainer for Emacs. I tried to reach out to @film42 as he was the maintainer before the organization move, but have not been able to get a hold of him over a month, so we're opening up the maintainer position.

Thanks.
- Dracula Theme Team

[2016-07-10 20:52] film42 commented on #10
Sorry for the lack of responsiveness. I have time to review PRs but probably won't have time to create PRs out of open issues. P.S. Thanks for pinging me on this issue.

[2016-07-11 11:59] gilbertw1 commented on #10
Hey, I'm more than happy to help out if you need it. I've been using this theme as my daily driver and plan to actively contribute to it for the foreseeable future.

[2016-07-11 21:06] 0zguner commented on #10
Hey, I can work on js2-mode ✌️

[2016-07-12 15:15] nesl247 commented on #10
@film42 How would you like to proceed? We have a few people here interesting in helping out. We can certainly have multiple maintainers if you'd like to remain onboard, or if you no longer wish to be listed as one, we can always swap you out.

Let me know what you think.

[2016-07-13 17:33] film42 commented on #10
This project is pretty low maintenance, so I'd be happy to review things. I'm happy to remain a maintainer of this theme for now :). I think if @gilbertw1 and @mzgnr want to start contributing, then that additional help would be great!

[2016-09-15 16:56] Nollo opened #12 "Personnal updates for HTML, Clojure, JS and Org"
EDIT: after I submitted the issue, I realize I should had put a PR instead, sorry :-)

Hello there!

This is my first contribution to this fantastic theme. I use Spacemacs and I did few customizations that fit my tastes, but I think it could be a global improvement.

These modifications are core and mode specifics. Core modifications are:
- font-lock-constant-face
- font-lock-builtin-face
- font-l

[2016-09-16 13:41] film42 commented on #12
Looks great, throw up a PR!

[2016-09-18 01:43] Nollo commented on #12
Okay. Any other opinion before I do a PR ?

[2016-09-18 20:32] film42 commented on #12
I think the visual changes are fine. We'll probably get more input once a PR is open. We will also look at code changes in the PR. Thanks!

[2016-09-19 09:59] Nollo commented on #12
Done #13

[2016-09-25 08:52] shuxiao9058 commented on #6
I have the same question too.

[2016-09-26 15:40] film42 commented on #6
Looks like it's in MELPA stable: http://stable.melpa.org/#/dracula-theme

[2016-09-30 20:48] pauley-unsaturated commented on #2
Should someone create a PR for this?

[2016-11-25 09:38] rajasimon commented on #12
Why this issue not closed?

[2016-11-25 14:29] #12 closed, assigned to nobody

[2016-11-25 14:29] film42 commented on #12
Thanks @rajasimon

[2016-12-05 18:23] film42 commented on #2
Just wanted to ping this thread about the open PR around this: https://github.com/dracula/emacs/pull/15

[2017-02-09 15:17] benreyn commented on #3
Is anyone working on this yet? Im happy to take a look if no one else already wants to.

[2017-02-09 15:21] benreyn commented on #3
Interestingly, I get vertical borders but sometimes no Horizontal borders, take a look at the screenshot below..
![screenshot_2_9_17__9_20_am](https://cloud.githubusercontent.com/assets/11561578/22789603/0e76d232-eea9-11e6-9e15-10d5f39ad004.png)
Maybe using powerline would fix this for me.

[2017-02-10 15:13] benreyn opened #16 "Current dired buffer near un-readable"
The highlight that is given to the current directory in a dired buffer make it nigh unreadable.
![screenshot_2_10_17__9_11_am](https://cloud.githubusercontent.com/assets/11561578/22831729/06127254-ef71-11e6-97ca-f376346eb988.png)

[2017-02-10 16:31] film42 commented on #16
Changed in #17 .

[2017-02-10 16:31] #16 closed, assigned to nobody

[2017-03-01 15:58] benreyn commented on #2
With #19 in, I think we can close this now?

[2017-03-01 16:07] #2 closed, assigned to nobody

[2017-03-01 16:10] #10 closed, assigned to nobody

[2017-03-01 16:10] #6 closed, assigned to nobody

[2017-03-01 17:17] benreyn opened #20 "Theme refactor and maturation"
Overall I love this theme, but I believe some of the issues we have run into ( #2 , and some of the  resulting errors discussed in the resolving #19 ) May be due to the architecture of this theme compared to many other more mature emacs theme (such as [solarized-emacs](https://github.com/bbatsov/solarized-emacs))

Im creating this issue to start the discussion around a refactor of the way this par

[2017-03-01 17:24] benreyn commented on #2
Trying this out locally, it looks like the fix in #19 did resolve this issue when starting a new emacs session via `emacs --no-window-system` from the terminal, but this is still and issue when connecting to a running emacs server from the terminal using `emacsclient --tty`

[2017-03-01 20:24] benreyn commented on #20
The [spacemacs theme](https://github.com/nashamri/spacemacs-theme) looks like another good one to look at.

[2017-03-03 20:08] Abizern opened #21 "Background not loaded for GUI Emacs when started from terminal"
<img width="576" alt="screen shot 2017-03-03 at 20 03 43" src="https://cloud.githubusercontent.com/assets/6902/23567089/8d2f2d68-004c-11e7-905f-77a46716b390.png">

I'm running on a Mac

I run emacs starting with:

    emacs --daemon

and then either load a GUI client with:

    emacsclient -nc

or in the terminal with:

    emacsclient -t

In the case of the terminal session everything looks fine.

[2017-03-03 20:24] film42 commented on #21
@benjamreynolds @apierz maybe we should change the terminal background to black to avoid this?

[2017-03-03 21:58] benreyn commented on #21
Yeah, I think that would be a good temporary fix until I can dig a bit deeper into how other themes are constructed to avoid issues like this. (or, as some of my research suggests, it may not be possible to get consistent colors across terminal and gui sessions)

I'll submit a quick PR for this, which will basically looked like the closed #15

[2017-03-03 22:16] film42 commented on #21
Thanks for the patch @benjamreynolds !

@Abizern , just released a new version that sets the background to black when using emacs in a terminal. It's not perfect, but we're working on a better long-term solution. Thanks! ❤️

[2017-03-03 22:16] #21 closed, assigned to nobody

[2017-03-04 13:05] Abizern commented on #21
Thank you.

[2017-03-05 20:52] zenorocha commented on #20
That's awesome! Thanks a lot @benjamreynolds for this research.

[2017-03-07 14:22] eigengrau opened #23 "bg1 not set correctly when running Emacs as daemon"
The problem with the new `(if (display-graphic-p) …` switch is that the predicate evaluates to `nil` when Emacs starts up in daemon mode, so even when running Emacs only inside of X windows, the background will be black.

I guess usually, one would instead use a hook in `after-make-frame-functions`, where `display-graphic-p` will actually give the correct result. However, I’m not sure how one woul

[2017-03-07 14:55] eigengrau commented on #23
How about this?

[2017-03-08 08:24] eigengrau commented on #20
In general the custom.el system provides a built-in system to switch faces based on output device type. This is already being used in the `class` macro. In #24 I replaced the current `display-graphic-p` switch with the custom.el way to do this, which does the right thing both when running one-off Emacs and when running it in daemon mode.

I only did this for the `default` face though. @benjamreyno

[2017-03-08 14:02] benreyn commented on #20
good find @eigengrau, I dont often use emacs at my terminal so I would have to look into it. I recently did a switch to spacemacs and am going to spend some time (when I get it) trying to make sure dracula looks great on there.

[2017-03-09 05:06] #23 closed, assigned to nobody

[2017-03-09 06:49] eigengrau commented on #23
Cheers! :+1:

[2017-06-09 12:02] CarstenKoenig opened #27 "give some emacs Haskell love too"
There was a recent update to the vs.code theme that really made Haskell code much more beautiful:

![vscode](https://user-images.githubusercontent.com/1927108/26974499-ed7249f0-4d1b-11e7-9b6f-fe920400caac.png)

it would be so nice if Emacs could receive the same love:

![draculaemacs](https://user-images.githubusercontent.com/1927108/26974515-fc8fee9c-4d1b-11e7-8b99-df550d91bcc9.png)

from what I

[2017-06-27 10:20] TheBaronHimself commented on #20
I'm loving dracula, but don't like what it does to the mode-line in Spacemacs. Have a look:

![screen shot 2017-06-27 at 12 18 11](https://user-images.githubusercontent.com/11179011/27582905-eb55714a-5b32-11e7-9760-ce87a10e8d7c.png)

![screen shot 2017-06-27 at 12 23 50](https://user-images.githubusercontent.com/11179011/27583090-8cf60f78-5b33-11e7-94ab-2c40648e2804.png)

Maybe this could get some

[2017-06-28 17:52] film42 commented on #20
@TheBaronHimself I think that's something that can be fixed pretty quickly. Would you mind opening a PR with the style changes needed and a before/ after screenshot?

[2017-06-28 21:09] TheBaronHimself commented on #20
@film42 | Sure thing. I put it on my to-do list.

[2017-07-12 17:18] seagle0128 opened #30 "Doesn't work well in terminal"
It looks great with GUI, but not good in terminal.

[2017-07-12 17:42] film42 commented on #30
Thanks @seagle0128 we're trying to work on that and have a few issues open already talking through ideas.

https://github.com/dracula/emacs/issues/20

[2017-07-12 17:42] #30 closed, assigned to nobody

[2018-01-12 15:18] octavz opened #32 "terminal colors for emacs"
![1_005](https://user-images.githubusercontent.com/23629302/34881374-1a789d3c-f7bc-11e7-8f72-ae5055b51174.png)

I am using termite and on the left there is `emacs` on the rigth `emacs -nw`.
As a reference vim-dracula works fine in terminal, the terminal itself renders the colors ok, only emacs doesn't.

Also tried `gnome-terminal`, `xterm`,`terminator` to no avail

Can anyone point me in the right

[2018-01-31 06:30] scturtle commented on #32
Comment out the background part in default:
[code]

[2018-03-26 08:37] ghost commented on #20
what's the status on this? it would be nice to get the terminal background fix from #32 in

[2018-03-26 09:16] eigengrau commented on #20
@untoreh It doesn’t look like anybody is working on redefining the colour theme based on a 256-colour palette right now. Basically, what someone needs to do is this:

1. For every color that is customized in some face, select the nearest appropriate color from the [256-color xterm palette](https://upload.wikimedia.org/wikipedia/commons/1/15/Xterm_256color_chart.svg).
2. Add those colors to the fac

[2018-03-26 09:21] eigengrau commented on #20
Incidentally, Google also turned up [this package](https://github.com/tungd/color-theme-approximate) which does programmatic translation between 24-bit and 8-bit colors.

[2018-03-28 10:06] ghost commented on #20
@eigengrau the problem is that the background is set to black, if you look at dracula/xresources, black is actual black (color0), so in this case I don't think the problem is color translation but simply the fact that dracula emacs conflicts with the Xresources theme, in fact reloading the Xresources swapping out the black color and opening a new terminal the color applied is the new black color.

[2018-03-28 10:15] eigengrau commented on #20
@untoreh AFAICT the black was put in there on purpose (cf. #22) because of the color translation issue, so the best way to resolve it is to define a set of TTY-colors to be used. #22 was probably only done because the background color was the most obvious one, but in fact most of the colors are probably off from what they officially should be in the terminal.

[2018-03-28 10:38] eigengrau commented on #20
Just as an aside, what’s special about the background appears to be that `#000000` doesn’t show as black, but as terminal color 1 (which often defaults to black, but might be customized in Xresources or however your terminal is configured, as you mentioned). I’m not sure whether Emacs is purposely using the 16-color palette here, or whether the terminal’s 16-color palette affects the display of 25

[2018-03-28 11:00] eigengrau commented on #20
It looks like when entering colors in hex, Emacs (on tty) assumes that the 16-color palette is exactly the original xterm-palette and will use those (possibly redefined) colors when they are used as hex. In `M-x list-colors-display` you can see that the first 16 colors are the 16-color terminal palette, but listed with hexcodes that do not necessarily correspond to the color shown (i.e., if you cu

[2018-03-28 11:36] eigengrau commented on #20
Matching the Dracula background color will be really hard, btw. I guess that must be why Emacs degrades it to what appears to be xterm color 17 (dark blue). Looking at the palette, I don’t really see how one could do any better. Anything that’s pastel seems to be much more violet, or a lot brighter.

[2018-04-22 02:09] finalpatch opened #34 "font-lock-variable-name-face is the same as default"
they are both #f8f8f2. not sure if this is intended.

IMO,  we could add something like a :bold t and drop the foreground property in this face, as everything is automatically inherited from 'default'.  This way the overall color balance won't change too much but we could have variable names stand out a little bit.

[2018-04-23 08:07] in-in opened #35 "Ugly background color around dots in whitespace-mode"
![5acdf](https://user-images.githubusercontent.com/8797432/39113959-009b1718-46e6-11e8-92f0-66a9482dee91.png)

Ubuntu 16.04
Emacs 25.3.2
Dracula-theme-1.2.5

[2018-05-01 03:33] ghost commented on #20
@eigengrau I don't think you need to "match" dracula colors in terminal? Just provide correct mappings for .Xresources colors which should already be themed to dracula, or do nothing in case both emacs and the current terminal emulator support 24bit colors, iirc solarized worked with low bits TERM var + Xresources.

[2018-05-01 06:58] eigengrau commented on #20
@untoreh: currently, it is not really expected of users that they use a specific 16-color scheme in their terminal emulator. When they do, for now it is only the background color that will affect how a dracula-themed Emacs is displayed.

Even when people were asked to set up their terminal emulators in a specific way, there would have to be some remapping on the part of dracula, since the Emacs th

[2018-05-15 20:58] lordnik22 opened #37 "Melpa can't find this theme"
Hello there,

I think melpa misses this beautiful theme.
**Reproduction-Steps:**
1. Open emacs
2. Do  `M-x package-install dracula-theme ENT`
3. Message: `package-install-from-archive: http://melpa.org/packages/dracula-theme-20170412.845.el: Not found`

**Environment-Info**
`M-x emacs-version`
Message: `GNU Emacs 25.2.2 (x86_64-pc-linux-gnu, GTK+ Version 3.22.21) of 2017-09-22, modified by Debian`

[2018-05-15 21:05] lordnik22 commented on #37
Fixed it with #6.

[2018-05-15 21:05] #37 closed, assigned to nobody

[2018-05-17 07:13] eigengrau opened #38 "powerline background uses highlight foreground-color"
I notice that with 3054c3d, we start using a highlight color for parts of the powerline background, which looks jarring and distracting. 3054c3d also removes the visual separation between different powerline segments in the background. I’m not quite sure what the perceived issue with powerline colors before that commit was, but perhaps there’s a better way of addressing it?

Now:
![now](https://us

[2018-05-31 08:24] eigengrau commented on #20
`C-h n` informs me that the newly released Emacs 26.1 now supports 24-bit colors if the terminal emulator supports it.

[2018-06-03 14:46] ghost commented on #35
that's also used as background of submodes when using `mmm-mode` :disappointed:

[2018-06-14 14:00] owlas commented on #32
The reason is that in a terminal environment the background is set to black. I just patched this in my local version but I guess this won't work in a TTY where only 16 colors are available.

See line [`./dracula-theme.el#L24`](https://github.com/dracula/emacs/blob/1f649824d996b1ecdcc5980210b774f0cb950e9a/dracula-theme.el#L24)

I'm not sure what the most preferable behaviour is to be honest but I'm

[2018-06-23 12:49] guilherme-salome opened #41 "Font color for latex tables in orgmode"
I am using Emacs + orgmode to write research. The overall Dracula theme is great, and very well done.
The font colors work well, and even work with latex math displayed/previewed within orgmode (with C-c C-x C-l).
However, I noticed that if I display a latex table within orgmode it uses a black font color, so it is almost invisible in a dark background (screenshot below).

**Question:** Is it poss

[2018-06-28 09:24] royxue opened #42 "neotree file color should be brighter"
![image](https://user-images.githubusercontent.com/4725561/42025815-1a108b06-7af8-11e8-97d0-60e1454bf21f.png)

The color for neotree files name are too close to the background, which is hard to identify them

[2019-06-29 20:34] matt-continuousdelta opened #47 "term-color values seem mixed up"
The colors for term-color-* look mixed up.

<img width="361" alt="Screen Shot 2019-06-29 at 4 29 28 PM" src="https://user-images.githubusercontent.com/51493606/60389199-9310e380-9a8b-11e9-9a3a-4115c5a0cd18.png">

[2019-08-12 07:41] vhtq18w opened #49 "How to set libvterm colors"
I Use [emacs-libvterm](https://github.com/akermu/emacs-libvterm), and I want to have dracula style color vterm. I try to modified dracula-theme.el, and add following code:
[code]
But it not activate. I use EMACS 26.2.
![2019-08-12-152941_672x637_scrot](https://user-images.githubusercontent.com/16852919/62850915-13776500-bd17-11e9-9c90-f9026558ba24.png)

[2019-08-12 11:56] vhtq18w commented on #49
I solve it issue. sry.

[2019-08-12 11:56] #49 closed, assigned to nobody

[2019-08-29 14:57] vhtq18w commented on #49
I found answer in [emacs-doom-theme](https://github.com/hlissner/emacs-doom-themes), maybe it can help others.

[2019-09-01 19:46] etu opened #51 "Lisp errors on very recent versions of emacs 27 from git"
Hi,

I'm running Emacs 27 from git with this theme. And on recent versions it seem to have broke. The emacs I'm currently testing with seems to be based on this commit: https://github.com/emacs-mirror/emacs/commit/a7d47e64aaf438feaa8cbe4d40acb7bae0eab059

If I'm trying an older one, which I believe is this commit: https://github.com/emacs-mirror/emacs/commit/51cf9161ceaa613a95f714e56fb793dcf62d1da

[2019-09-12 07:37] razum2um commented on #32
Same issue here:
<img width="1680" alt="Screenshot 2019-09-12 at 14 33 37" src="https://user-images.githubusercontent.com/122018/64763629-9dab2700-d56a-11e9-87ef-9dfb689c1991.png">
both are `-nw` (left: master, right (same as gui):  https://github.com/razum2um/emacs/commit/3e5b39a611261a2d2c86cf0df392399c0c223204)

I think black terminal bg is intentional because they don't rely on underlying term

[2019-09-19 16:56] mjsteinbaugh opened #52 "Colors are very inconsistent across terminal clients"
I'd like to use Dracula for my Emacs config running spacemacs, but the colors are very inconsistent across clients. Here are some examples:

PuTTY running on Windows:

I'm using the recommended Dracula color config for PuTTY. As you can see, the colors are way too bright here.

![dracula-emacs-windows-putty](https://user-images.githubusercontent.com/1760218/65264530-ca1bf180-dadc-11e9-9644-d42ba1a

[2019-09-19 21:31] mjsteinbaugh commented on #52
I figured this issue out, and thought it would be helpful to post a resource online. The issue here is that the Dracula color palette only works well in a terminal window supporting 24-bit true color (e.g. iTerm2, Alacritty). Supposedly the new Windows Terminal in Windows 10 (https://github.com/microsoft/terminal) also supports this now, but PuTTY doesn't.

You can run Emacs with 24-bit color in `

[2019-09-19 21:31] #52 closed, assigned to nobody

[2019-10-08 08:10] #47 closed, assigned to nobody

[2019-10-22 20:26] milouse commented on #27
@CarstenKoenig can you confirm if my last commits do the job for you?

As far as I know, there is now way in emacs to propertize number or operator. At least by default, maybe you should try to contact the haskell-mode author?

[2019-10-22 20:34] milouse commented on #38
@eigengrau does my last commit fix your problem?

[2019-10-27 17:00] milouse commented on #51
Hi @etu. Do you still suffer from this bug? Does a more recent version of emacs 27 solves the thing?

Are you sure the theme is accessible from your emacs config file? The crash comes from a wrong `file-directory-p` call. But there is no call to this method in the dracula theme. I think the problem comes from emacs trying to find the file to load, but not finding it.

@tsdh you may have tip regard

[2019-10-27 17:09] milouse commented on #42
I think you are speaking about this package https://github.com/jaypei/emacs-neotree

[Faces are declared here](https://github.com/jaypei/emacs-neotree/blob/dev/neotree.el#L408) and should be investigated.

This bug is an easy one for beginner.

[2019-10-27 17:11] milouse commented on #41
Hi,

Sorry for the long silence. Can you help us to find what goes wrong? Can you share a minimal exemple file with such a table and the command you use to achieve to this result?

I never see such a thing myself, thus it's hard to fix without error. Thank you very much and sorry again for the time.

[2019-10-27 17:23] milouse commented on #35
The theme lacks of the faces declared in the whitespace mode. There are a lot of them, but it should be easy to add them even for a newcommer.

That said, I don't know what is mmm-mode and it may be a new issue as faces are never shared between packages.

[2019-10-27 17:25] milouse commented on #34
I begin to look at it but don't succeeded to have the bold face working. I'll dig it a little more. But I'm not sure it's a real problem.

[2019-10-27 17:28] milouse commented on #3
The vertical line issue is fixed, but @benreyn feel free to look for a solution regarding horizontal lines. As far as I know, it's not possible, but maybe I missed something!

If we don't find a solution, we should close this issue.

[2019-10-28 18:33] milouse commented on #51
I just take time to compile emacs 27 and try to reproduce this error. I don't: everything load fine at first attempt. Thus I close this ticket.

[2019-10-28 18:33] #51 closed, assigned to nobody

[2019-10-28 18:46] milouse opened #55 "show-parent-mode is brocken on emacs-27"
The only face listed in current dracula theme is `show-paren-match-face` which does not exist anymore in emacs 27.

There are now (maybe they are older, but still) three new faces:

- `show-paren-match`
- `show-paren-match-expression`
- `show-paren-mismatch`

[2019-10-28 20:53] #55 closed, assigned to nobody

[2019-10-28 21:03] milouse commented on #34
I finally got a proof for that, shown in the following capture.

![Capture du 2019-10-28 22-00-18](https://user-images.githubusercontent.com/349239/67717636-684d8200-f9ce-11e9-83bf-28752559102a.png)

1. shows python code
2. shows ruby code
3. shows lisp code

I'm not sure it's a good idea to propertize variables as bold. As you can see, only variable affectation are propertized. It seems (to me at

[2019-10-29 07:17] finalpatch commented on #34
Hi thanks for looking into this.  I was just trying to point out that in this color theme variable names are not highlighted.  Since font-lock-variable-name-face is a standard font lock face,  I think it is probably intended to be highlighted.  If "bold" doesn't look good, I'm sure you can come up with something better (I suggested "bold" in the original report only because I don't want to change

[2019-10-29 12:14] milouse commented on #34
~~Personnally, I like it simple and don't see any added value to propertize variable otherwise. Thus I'll leave it open until someone came with a good idea.~~

I change my mind. I'll push my change and we'll see if it opens other opinion on that (you got one +1 after all :) )

[2019-10-29 18:01] etu commented on #51
@milouse I haven't used emacs27 in a while partly due to this. But I just built it and it starts fine. So it was probably a bug at that time.

[2019-10-29 18:32] #34 closed, assigned to nobody

[2019-10-29 19:06] #35 closed, assigned to nobody

[2020-02-06 11:18] avatar-lavventura commented on #32
I am having the same issue after doing `export TERM=xterm-256color`, background color is all black.

[2020-02-07 14:18] avatar-lavventura commented on #32
Adding following line fixed my solution but on my iTerm I have dracula's theme as well. (https://stackoverflow.com/a/20233611/2402577)

[code]

[2020-02-09 13:55] milouse commented on #32
I try to move on this one with my last commit. Can you all upgrade and see if it's better or worse? Thank you very much.

[2020-02-09 13:59] milouse commented on #32
To continue the discussion, the blue colors which appears sometimes (see #2) seems to be `color-17` as seen by `M-x list-colors-display`. I cannot find any relation to that.

[2020-02-09 23:27] avatar-lavventura commented on #32
Thanks @milouse. Your recommended guide solved my problem:

I commented out following line:

[code]

---

And added this line in between `(deftheme dracula)` and `(let ((colors '(...`

[code]

[2020-02-10 08:50] avatar-lavventura commented on #32
This approcach messes up some other coloring stuff on highlighting @milouse

[2020-02-10 09:34] milouse commented on #32
@avatar-lavventura you should not have to add anything else to test my commit. Or you don't use melpa package?

Can you precise your last message (what do you mean by "mess up", can you take a screenshot? Thank you very much.

[2020-02-10 10:53] avatar-lavventura commented on #32
I have downloaded dracula theme into `$HOME/.emacs.d/themes/dracula-theme.el` and made following changes:

[code]

<img width="660" alt="Screen Shot 2020-02-10 at 13 52 16" src="https://user-images.githubusercontent.com/18537398/74143819-8f8e2f00-4c0c-11ea-9208-2d400e496b08.png">

------------------

Original

<img width="657" alt="Screen Shot 2020-02-10 at 13 53 13" src="https://user-images.githu

[2020-02-10 11:18] milouse commented on #32
Why don't you just replace the `"#000000"` by a `nil` ? That way you don't have to add your `if` line or comment anything. Try to download the last commited version (which already contains the fix) because you may lack some other changes done in the meantime.

[2020-02-10 12:36] avatar-lavventura commented on #32
I have used the latest commit but still has the same issue. When highlighting, it keeps the original color of strings instead of making them black, hence on yellow background its very difficult to see them.

`(region :background ,dracula-yellow :foreground ,dracula-bg :extend t)` => should be =>
`(region :background ,dracula-yellow :foreground ,"#000000" :extend t)`

[2020-02-10 19:30] milouse commented on #20
I think we should definitely look at the [doom-dracula theme](https://github.com/hlissner/emacs-doom-themes/blob/master/themes/doom-dracula-theme.el) for a 256 colors palette.

[2020-02-11 08:57] milouse commented on #20
I close this ticket in favor of #32

[2020-02-11 08:57] #20 closed, assigned to nobody

[2020-02-11 09:04] milouse commented on #32
I just commit a little rewrite of the base colors, following [doom-dracula-theme](https://github.com/hlissner/emacs-doom-themes/blob/master/themes/doom-dracula-theme.el) colors. It should fix this long running problem about terminal. Can you all take time to test [this version](https://github.com/dracula/emacs/blob/ed-test-term-colors/dracula-theme.el)?

[2020-02-11 12:10] avatar-lavventura commented on #32
Comments are unreadable, comments could be little bit more live color like green:
<img width="478" alt="Screen Shot 2020-02-11 at 13 22 16" src="https://user-images.githubusercontent.com/18537398/74228462-874bf780-4cd1-11ea-94c1-e817af3ba6f1.png">

------

When I apply `M-x - rgrep` also highlighted words on the opened second screen is not that readable with the colors.

Example:

<img width="1014

[2020-02-12 07:39] milouse commented on #32
Hi, can you try to [download it again](https://github.com/dracula/emacs/blob/ed-test-term-colors/dracula-theme.el) and try my last modifications?

I didn't have the same behavior for the rgrep output. Can you precise your emacs version and, if possible, when you are in the rgrep output buffer, can you place your cursor on one of the matched item and enter `M-x describe-face` and tell me the result

[2020-02-12 11:24] avatar-lavventura commented on #32
When you `isearch` a word it highlights other found ones with black background so its hard to detect see all the found words on the `isearch`.

For example I am search `import` other find string's background is black, which is hard to detect.

<img width="527" alt="Screen Shot 2020-02-12 at 14 46 34" src="https://user-images.githubusercontent.com/18537398/74332310-83d67000-4da6-11ea-9373-81719d6c3

[2020-02-21 23:33] brainplot opened #56 "Link to Screenshot not working"
As title says, the link to the screenshot in the `README.md` is not working.

[2020-02-21 23:33] #56 closed, assigned to nobody

[2020-02-21 23:34] brainplot commented on #56
Nevermind. Probably GitHub had a moment of insecurity or something. It's working now :smile:

[2020-02-22 10:58] milouse commented on #32
Hi, I just give it another shot? Do you mind [test it again](https://raw.githubusercontent.com/dracula/emacs/9a57bc5512dad37ac38d890e28e6a4b20ccc10b9/dracula-theme.el) ?

I change the fg color to bright white and try to have a lighter background for lazy-highlight items. But we are very limited on terminal colors, thus I don't think I'll be able to do better here.

[2020-02-23 11:02] avatar-lavventura commented on #32
Its much better, but only comment color could be different color since its so close to background color.

[2020-02-23 12:51] milouse commented on #32
Is it better [now](https://raw.githubusercontent.com/dracula/emacs/ed-test-term-colors/dracula-theme.el)?

[2020-02-24 08:57] avatar-lavventura commented on #32
Yes, thank you @milouse

[2020-03-04 12:11] #32 closed, assigned to nobody

[2020-03-06 17:46] jakevossen5 opened #58 "Add option to disable scaling the header size"
I find the increased size of the headers really unpleasant in org mode. Could we implement something like this solarized package where they let you change it so that org headers are not larger then the rest of the text?

[2020-03-07 12:00] milouse commented on #58
It is easily doable in your own config with a line like

    (set-face-attribute 'org-level-1 nil :height 1.0)

Only `org-level-1`, `org-level-2` and `org-level-3` have `:height` customization. The height attribute must be understood as a percentage unit. `1.0` means 100%, `0.5` means 50% and `1.5` means 150%.

Can you confirm you're speaking about the `solarized-use-variable-pitch` variable for t

[2020-03-07 12:02] milouse commented on #38
No feedbacks in a while, I assume it's ok then.

[2020-03-07 12:02] #38 closed, assigned to nobody

[2020-03-07 12:02] milouse commented on #27
No feedbacks in a while, I assume it's ok then.

[2020-03-07 12:02] #27 closed, assigned to nobody

[2020-03-07 19:20] jakevossen5 commented on #58
Ah, thank you! That line fixed what I wanted.

 I was referring to these commands (found in the README [here](https://github.com/bbatsov/solarized-emacs/blob/master/README.md#theme-specific-settings)).

I don't think it is that big of a deal now, where else does the font change besides org headers?

[2020-03-09 09:02] milouse commented on #58
There is also the `org-document-title` face. And that's all.

[2020-03-09 14:29] #58 closed, assigned to nobody

[2020-03-21 18:25] milouse commented on #58
I just release a new version with a new setting system. Hope you'll like it :)

[2020-03-21 19:53] jakevossen5 commented on #58
Looks awesome, thank you!

[2020-03-23 09:17] feng-li opened #59 "Weird terminal color in version 1.7"
I was thrilled with 1.51 version of the emacs theme, both under the gnome-terminal (xterm-256 color) and GTK3. Then I updated to 1.7, the color looks a bit weird. See the attached screenshot with the `start_emacs_test.sh`.

    top left: version 1.51, gnome-terminal 256 color;
    top right: version 1.7, gnome terminal 256 color (the weird version);
    bottomleft: version 1.51, GTK3;
    bottom r

[2020-03-23 10:06] milouse commented on #59
Hi!

I think there are two problems here.

1. it seems that your terminal is configured to display white colors as orange. I don't use gnome-terminal, thus I cannot help more there, but this orange tone comes from your terminal.
2. the grey-ish tone of the comment are the new colors setting of the dracula theme for terminal. I must admit I force the terminal color even for 256-color capable terms.

[2020-03-23 10:25] milouse commented on #59
In fact, I correct myself. After a quick review, I didn't do anything wrong. The new 256 colors variant of the dracula theme is right. The fact is that your terminal support more than 256 colors, but advertize itself as a 256 colors capable one is the problem.

However, you're right that a lot of them are doing so in the wild. Thus, as I've add a setting system to the theme, I'll add one to force

[2020-03-23 13:02] milouse commented on #59
Can you test [my latest commit](https://raw.githubusercontent.com/dracula/emacs/f5918cb7966ab9f8350371bbdd8767cb3db46de8/dracula-theme.el)? You should put the following line in your emacs init file before loading the theme:

    (setq dracula-use-24-bit-colors-on-256-colors-terms t)

[2020-03-24 01:17] feng-li commented on #59
Many thanks. Now within the terminal, the foreground color seems right. But the background is blue.
![Screenshot from 2020-03-24 09-09-35](https://user-images.githubusercontent.com/1174311/77378118-17d92580-6db0-11ea-880d-c61135c7bbdc.png)

BTW, the terminal color scheme I am using is [Dracula](https://github.com/dracula/gnome-terminal) . It does mark white as orange (#EFA554) in the palette.
![Sc

[2020-03-24 16:59] milouse commented on #59
So, I'm happy to see that you just have the exact same behavior than #2 #19 #20 #32 #57 … We have long history of tests on this one. That's why we take the decision to support a specific 256 colors theme to work around terminals limitations.

So if you really really really want to use risky colors not fully understood by your terminal, you can keep the new setting I created above, and, in order to

[2020-03-24 22:00] kwenlyou commented on #59
Same issue here after upgraded to the latest version. I am using macOS and its Terminal.
Changing TERM=xterm-16color or TERM=xterm-88color can fix.

[2020-03-25 01:42] feng-li commented on #59
Thank you for the update.

[2020-03-25 11:58] milouse commented on #59
What issue are you refering to @kwunlyou ? The blue screen or the grey-ish colors? Have you a problem with or without the (now hidden) `dracula-use-24-bit-colors-on-256-colors-terms` preference?

In none of these situation you should lower your terminal capacities… Maybe you can send a screenshot of the « issue » you have before any new customization? Can you tell us the result of the following co

[2020-04-04 14:19] milouse commented on #59
Hi @feng-li I just found out a new 256-color palette for dracula, which tends to better respect the blue-ish aspect, even on terminal. If you have time, I would appreciate your comments on this new test : https://raw.githubusercontent.com/dracula/emacs/new-256/dracula-theme.el

Here is how it looks like for me:

![Capture du 2020-04-04 16-21-26](https://user-images.githubusercontent.com/349239/784

[2020-04-04 15:52] feng-li commented on #59
Thank you for your work. I just tried your proposal. I think the foreground and other faces are all fine  by setting `$TERM` as `xterm`, `xterm-16color`, `xterm-88color`, `xterm-256color`, and `screen`, except the background was not effective, which is exactly the same as my terminal color (#000000).

I did some investigation as well.  I notice that the Dracula background "#282a36" was not properl

[2020-04-04 16:58] milouse commented on #59
`#292929` and `#2b2b2b` are not available in the [X11 256 colors palette](https://jonasjacek.github.io/colors/) (used by terminals). Only `#262626` is available. It was the previous chosen background color, which I replace by nil (thus, normally it should take the terminal background). I may revert it to `#262626` if it's better than black or nil. What do you think?

[2020-04-05 08:48] feng-li commented on #59
I think you cannot make it nil. Emacs Lisp (26.3) would complain that it could not find color nil. Otherwise, any color is doable.

[2020-04-10 09:31] milouse commented on #59
You're right. It seems that we must use `"unspecified-fg"`/`"unspecified-bg"` instead, since at least 2012: emacs-mirror/emacs@bccffa83747

That way, color won't be handled by emacs, relying on the support to draw it. It'll works fine on TTY. The only drawback may be on terminals, which have a light default background. But I think it's easy to ask people to adjust their terminal background?

[2020-04-11 01:55] feng-li commented on #59
That's a fair solution.

[2020-04-12 11:06] milouse commented on #59
Ok, I'll go for it

[2020-04-18 17:35] zenorocha opened #62 "Take new screenshot"
Hey @milouse!

Can you update the screenshot to use the new code snippet?

## New Snippet

[code]

## Why use this?

* It contains examples of string, number, and array
* It contains examples of single line and multi-line comments
* It contains examples of inheritance and functions
* It's simple, funny, and silly

## Want to use another language?

Feel free to send a pull request to the [template

[2020-04-19 13:30] milouse commented on #62
No problem, I do that ASAP next week :)

[2020-04-23 15:26] zenorocha commented on #62
Thanks @milouse!

[2020-04-23 16:23] milouse commented on #62
Does it please you?

![screenshot](https://user-images.githubusercontent.com/349239/80124876-2eca8d80-8591-11ea-9952-7df1bc5cd597.png)

[2020-04-23 16:37] #62 closed, assigned to milouse

[2020-04-28 21:08] milouse opened #63 "Add support for speedbar"
- speedbar-button-face
- speedbar-file-face
- speedbar-directory-face
- speedbar-tag-face
- speedbar-selected-face
- speedbar-highlight-face
- speedbar-separator-face

[2020-04-28 21:37] milouse commented on #63
Fixed in https://github.com/dracula/emacs/commit/a6a6620938a1d2147d045eec0ea3e076874d122d

[2020-04-28 21:37] #63 closed, assigned to nobody

[2020-05-07 08:27] shpark opened #64 "Adding faces for lsp-ui"
![Screenshot from 2020-05-07 17-24-51](https://user-images.githubusercontent.com/61111279/81271909-addabe00-9087-11ea-9b42-93a314a30b7c.png)

Some faces for lsp-ui (say 'lsp-ui-peek-highlight') are not defined, so IMO it doesn't look good.

It would be great if dracula provides some faces for lsp-mode users

[2020-05-07 13:31] milouse commented on #64
I think you refer to https://github.com/emacs-lsp/lsp-mode, which I don't know at all. Can you annotate your screenshot to let me better understand where is the missing face, what is its purpose…

Don't hesitate to share several screenshot to help me figure out how the whole thing works.

[2020-05-07 13:36] milouse commented on #64
~~I find all face declaration in [that file](https://github.com/emacs-lsp/lsp-mode/blob/51d960f742e8ccd33f6fd2d9836bf9274413ff10/lsp-mode.el). What is strange is that they all inherit from default faces, thus it should be already ok.~~

Wow ok, in fact you are speaking about https://github.com/emacs-lsp/lsp-ui, which hardcode a lot of new faces… It won't be easy to check that without using it.

If

[2020-05-14 14:39] #64 closed, assigned to nobody

[2020-05-14 15:28] #42 closed, assigned to nobody

[2020-05-26 14:43] milouse opened #67 "Support Elfeed"

[2020-05-27 18:38] #67 closed, assigned to nobody

[2020-06-01 15:50] milouse opened #68 "Follow dracula spec for ansi colors"
Check that the color code used match the one explained here: https://spec.draculatheme.com/

[2020-06-02 19:58] mfcabrera commented on #59
Just commenting here, I am using Emacs on Mac OSX and since this change I am getting:
```Unable to load color "unspecified-fg"```
Using: ```GNU Emacs 26.3 (build 1, x86_64-apple-darwin18.2.0, NS appkit-1671.20 Version 10.14.3 (Build 18D109)) of 2019-09-02```from https://emacsformacosx.com/

Also, after this change region is black on gray so it is hard to read (there might be something else involve

[2020-06-03 19:10] milouse commented on #59
Very strange… can you do a `M-x describe-function` and enter `color-defined-p` and copy/paste here the result of the doc? It should speak about unspecified-fg/-bg.

In any case, can you add `(setq debug-on-error t)` to your init file and copy paste the complete stack trace of your error? Thank you very much.

[2020-06-03 19:25] milouse commented on #68
In fact it doesn't help us. Closing it.

[2020-06-03 19:25] #68 closed, assigned to nobody

[2020-06-09 08:31] milouse commented on #59
(Note for myself) I should investigate on bbatsov/solarized-emacs#18 too.

[2020-06-09 08:51] mfcabrera commented on #59
@milouse thanks for your reply.

[code]

I set up   `(setq debug-on-error t)`  I don't set any errors.

In order to fix it I had to manually modify the theme definition like this:

[code]

This is how the active mark looks without modifying the theme

<img width="753" alt="grafik" src="https://user-images.githubusercontent.com/12527/84127130-2219d000-aa3f-11ea-9247-804ee4a62296.png">

[2020-06-27 08:28] kurt-steiner opened #82 "light is too dark when matching brackets"
I found it when matching brackets, though the color shines,but too dark to notice it,
anymethod to fix it?
thank you

[2020-07-08 13:09] charliesneath opened #69 "Syntax highlighting for Python "# TODO" comments"
In Python, I often use comments in the basic form of `# TODO: A note to myself` to identify places in my code that I'd like to update later.

I've seen syntax highlighting for this pattern in other themes, but would love to have it for Dracula as well.

It seems similar to how the Dracula theme automatically highlights any bracketed strings in commit messages, i.e `[WIP] note about this commit`.

[2020-07-08 15:16] milouse commented on #69
Hello,

your proposal looks interesting. However, I don't know that much the offered possibilities of the various python modes.Thus, to help me see if it's feasible or no, could you send us a minimal example (some line of valid python code) containing your exemple, and the name of the python mode you are using (I know there is a bunch of them in the wild)?

Thank you very much.

[2020-07-08 22:28] charliesneath commented on #69
In the following line, I am proposing that the word "TODO" (and possibly other keywords) are highlighted in to stand-out from the comment color:

` # TODO: This is a comment, can we highlight the first word?`

Here's an example of the syntax highlighting I'm describing for JavaScript ([source](https://forum.sublimetext.com/t/todo-syntax-highlighting/27604)):

![image](https://user-images.githubuse

[2020-07-08 22:32] charliesneath commented on #69
Also, I'm not sure how to find the name of the Python mode I'm using, but my Mode Line says `Python ARev company ElDoc`. Let me know where I can find this and I'll update. Thank you!

[2020-07-09 12:25] milouse commented on #69
Hi,

After quick investigation, it's not a native feature of Emacs.  However there is a lot of packages, which enable the colorization of such keywords. I let you decide, which is best for you.

I just test quickly the package [`hl-todo`](https://github.com/tarsius/hl-todo), customized as follow and it seems to do exactly what you want:

[code]

[2020-07-09 12:25] #69 closed, assigned to nobody

[2020-07-09 12:44] charliesneath commented on #69
This is great, thank you for investigating! Appreciate your help.

[2020-08-26 18:53] arashbi opened #70 "package is missing from mlpa"
Mlpa says not found?  https://melpa.org/packages/use-package-20200629.1856.tar

[2020-08-28 07:35] milouse commented on #70
Hi,

This is a melpa issue. Nothing we can do from our side, you must see it directly with them what’s happening?

[2020-08-28 07:35] #70 closed, assigned to nobody

[2020-09-08 13:05] andreineculau opened #71 "Support diff mode"
I don't know if it's only me, but this is how opening a .patch file (a diff) shows up with the dracula-theme in Emacs 26.3 (in iTerm2 with dracula-theme as well but that doesn't matter).

![Screenshot 2020-09-08 at 15 00 02](https://user-images.githubusercontent.com/708161/92479856-622a5380-f1e4-11ea-8401-c2d9498bd974.png)

Is it only me?
For the time being, I resorted to overloading some settings

[2020-09-14 14:45] milouse commented on #71
Hi, sorry for the delay, I was in holiday.

I don’t have the same display (I use simpleterm on linux, with dracula color in term too).

![Capture du 2020-09-14 16-39-59](https://user-images.githubusercontent.com/349239/93100092-11659f80-f6a9-11ea-9896-e53607608a00.png)

As you can see, the used colors are not very good too, but at least they are readable.

Any way, I know the diff part has not bee

[2020-09-15 09:28] andreineculau commented on #71
Don't be sorry. Hope you enjoyed it 🏖️

For starters, I actually checked the st colors, which are a bit different in [simpleterm](https://st.suckless.org/patches/dracula/st-dracula-0.8.2.diff), but not enough to make a change. I actually tried other colors in iTerm, and the only thing that can change in the emacs-diff view is the foreground and background color. The rest are fixed.

FWIW, this is

[2020-09-20 18:52] zenorocha commented on #82
@nesteiner what software are you reporting this issue?

[2020-09-22 15:30] kurt-steiner commented on #82
@zenorocha sorry I miss your reply, maybe I am too busy
I use Emacs :grin:

[2020-12-04 15:22] fernandodemorais-jf opened #75 "Set ansi-color-names-vector with theme colors"
Hello!

Please, include something like the following in the `dracula-theme.el` `faces`:

[code]

So that the colors displayed in Shell Mode (and others Comint dependant modes as well) will be the same as the theme.

Thanks!

[2020-12-28 19:10] fernandodemorais-jf opened #76 "Correct emacs-libvterm colors"
Actually, emacs-libvterm inherits Term colors, which is already configured. But, with no alterations to background of black color in `dracula-theme.el` Term settings, certain TUI programs display unreadable colors, like htop in VTerm:

![image](https://user-images.githubusercontent.com/47619475/103236890-d4a27900-4924-11eb-9c01-e719ece320b6.png)

If the line 694 of `dracula-theme.el` is changed to

[2021-01-25 02:33] davidshen84 opened #77 "How to change the background of selection hightlighting?"
In the screenshot, I started selecting from the last *c* at the top, but there's no visual indication because the colour of that section is also bright yellow.

![image](https://user-images.githubusercontent.com/65741/105654115-7069d980-5f11-11eb-8112-ab08d5e65fd1.png)

Currently, the theme only changes the font colour of the selection and it can conflict with cod highlighting in some cases.

Is t

[2021-02-12 20:12] titanofold opened #78 "Unable to load color "unspecified-fg""
From the message buffer I have the following error come up a lot.

    Unable to load color "unspecified-fg" [\d+ times]

I see it's referenced 3 times in dracula-theme.el. It appears alongside dracula-bg. I can't tell if unspecified-fg should be dracula-fg or not.

[2021-02-20 14:01] milouse commented on #77
Hi,

Sorry for the long silence, it seems I never receive these notifications :/ Or I remove them by errors in my mailbox.

Your problem is weird because the selection should have a yellow background and a dark font color (the inverse of what you have). So maybe you are using a custom mode badly supported at this time. Can you precise what kind of document your are editing and the mode you are usi

[2021-02-20 14:10] milouse commented on #78
No, it’s a weird bug of upstream Emacs I think. `unspecified-bg` must actually work as a color name, from the Emacs docstring itself for exemple: https://github.com/emacs-mirror/emacs/blob/3af9e84ff59811734dcbb5d55e04e1fdb7051e77/lisp/faces.el#L1824

However, from what I can tel, it has no effect at all (works as expected).

[2021-02-20 14:10] #78 closed, assigned to nobody

[2021-02-21 01:06] davidshen84 commented on #77
I think it is a theme clash issue. I have multiple theme packages installed with `use-package`. I think some other themes override some default value that `dracula` assumed to use the default value.

After disable other themes, this theme works nicely. Thanks!

[2021-02-21 19:48] fernandodemorais-jf commented on #76
Sorry @milouse,

I reported the wrong line in my original message. For the desired color correction, change in lines would be:

[code]

I only realize my error when I updated the theme through MELPA today. I was changed the `term-color-black` line in my local installation before.

Sorry once more.

[2021-02-21 21:31] milouse commented on #77
Thank you for your reply!

[2021-02-21 21:31] #77 closed, assigned to nobody

[2021-03-20 06:51] avatar-lavventura opened #79 "On `M-x` White font color on top of gray background confusing #497"
As you can see white color on top of gray is not readable. Is it possible to change/fix this coloring? Please note that I am using [dracula-theme.](https://draculatheme.com/emacs/)

<img width="289" alt="Screen Shot 2021-03-19 at 16 37 45" src="https://user-images.githubusercontent.com/18537398/111788705-7062d600-88d1-11eb-8e32-fdea959df30b.png">

-------------

my setup:

[code]

------

I have b

[2021-03-20 14:44] basil-conto commented on #79
See also: https://emacs.stackexchange.com/q/63980/15748

[2021-03-22 19:35] milouse commented on #79
Mmmh very weird. The default value should be black on gray:

![Capture du 2021-03-22 20-32-49](https://user-images.githubusercontent.com/349239/112047640-db204580-8b4d-11eb-953e-d75874334b68.png)

I see in another comment of you that you play with iterm parameters. Can you confirm

- that the problem only occurs in terminal window? (try by opening a graphical emacs window)
- that the problem only

[2021-03-23 20:48] avatar-lavventura commented on #79
@milouse Yes sir, please see the paremeters I set, I always set for smart  cursor (sometimes disable and re-able may fix the issue I am having):

<img width="376" alt="image" src="https://user-images.githubusercontent.com/18537398/112213234-eb5c2180-8c2e-11eb-9c29-261465dd56a9.png">

-------

Please see my dracula theme file (I may have done some minor changes): https://github.com/avatar-lavventur

[2021-03-24 14:24] milouse commented on #79
… So it seems to be an iTerm issue :/ I don’t have a Mac, nor I know this software… I’m afraid I cannot do anything more here. I’m glad you find the correct configuration for iTerm to have it work following your taste.

[2021-03-24 14:24] #79 closed, assigned to nobody

[2021-04-06 10:47] avatar-lavventura opened #80 "Is it possible to make configuration setup for ivy?"
Is it possible to make configuration setup for [`ivy`](https://github.com/abo-abo/swiper) ?

Its faces could be seen here: https://oremacs.com/swiper/#faces:

![](https://i.stack.imgur.com/PsecH.png)

[2021-05-02 15:52] #76 closed, assigned to nobody

[2021-05-02 16:46] #80 closed, assigned to nobody

[2021-06-27 10:12] #75 closed, assigned to milouse

[2021-07-15 22:06] bigpick commented on #82
@nesteiner not sure if you're still seeing problems with this as quite old, but looking back through things for some maintenance.

If you are still seeing problems, it'd probably be best to move this issue/close and make a new one over at https://github.com/dracula/emacs. If not - this issue can be closed. Thanks!

[2021-08-08 15:05] milouse commented on #82
@nesteiner if you still have the issue, could you take some time making a screenshot to better explain what color you find too dark? Thank you very much!

[2021-08-25 06:06] wmealing commented on #59
@mfcabrera your fix also worked for me.

[2021-09-05 05:00] abouvier commented on #71
You can use [24-bit direct color mode](https://www.gnu.org/software/emacs/manual/html_node/efaq/Colors-on-a-TTY.html) with `TERM=iterm2-direct`.
Here is Konsole with `TERM=konsole-direct` and `emacs` version 27.2:

![Screenshot_20210905_054149](https://user-images.githubusercontent.com/6044259/132115835-fba50905-ce97-49eb-93c9-0b02a13c8e2c.png)

[2021-12-02 14:26] etu opened #84 "The background on tooltips makes them unreadable"
Hi,

I've been using this theme for years, but I'm not sure when this became an issue because I think I've just ignored it for quite some time.

I get a background on tooltips that has the color #fdfdde and a foreground which is #faf8f0 which makes the tooltip unreadable.

See screenshot:
![20211202_15h14m04s_grim](https://user-images.githubusercontent.com/461970/144440489-36be4702-e18d-465c-bdbb-

[2021-12-02 14:39] etu commented on #84
From doing some more testing, running this piece of code to override that face works fine:
[code]

I made the customization using `M-x customize-face` and set the colors from `dracula-bg` and `dracula-current` from this projects source code. So I'll just assume that this patch file would just work.

[code]

[2021-12-02 20:07] milouse commented on #84
Thank you very much for your report and testing. Do you mind sending a screenshot of your fix, I’m curious to see the result.

[2021-12-02 20:53] etu commented on #84
I'm on another computer now, but I've evalled the custom-set-faces block in my scratch buffer and then triggered a popup in the buffer below here.
![20211202_21h52m30s_grim](https://user-images.githubusercontent.com/461970/144501273-172e4e7c-23b0-40b4-a2c4-db4298aa0c07.png)

[2021-12-06 13:35] #84 closed, assigned to nobody

[2021-12-06 13:45] etu commented on #84
Thanks @milouse! I'm looking forward to the next set of package updates with this patch in it :slightly_smiling_face:

[2021-12-06 18:59] milouse commented on #84
Thanks to you for the patch :)

[2022-01-05 11:19] milouse opened #87 "Deprecate master branch in favor of main"
@zenorocha as I don’t have full admin right over this repository (no problem about that at all), do you mind to change the default branch of this repository to be the `main` one instead of the current `master`?

I’ll check on my side to ensure it won’t break anything downstream in various packaging team.

Thank you very much.

[2022-01-16 12:18] saccarosium opened #89 "Adding support for tree sitter"
Hi,
I'm an avid user of tree sitter mode and I find that syntax highlight is not very consistent with other editor like VScode or Nvim.

<em>emacs with tree sitter before the patch</em>
<img width="460" alt="Screenshot 2022-01-16 at 12 40 41 PM" src="https://user-images.githubusercontent.com/96259932/149658394-4ab66d5b-4291-4cb6-9fff-8d1dc0e7b71f.png">

 <em>VScode</em>
<img width="460" alt="Scree

[2022-01-16 12:44] saccarosium opened #90 "Fixing minor inconsistencies with markdown mode"
Reading the docs I see some inconsistencies with the current implementation.

For example:

- inline code should be green but it's yellow;
- lists should be cyan but  they are gray;
- block quote should be yellow italic but it's purple not italic.

<img width="551" alt="Screenshot 2022-01-16 at 1 44 39 PM" src="https://user-images.githubusercontent.com/96259932/149660422-ad176b23-30a0-4264-a24d-6e

[2022-01-18 06:59] milouse commented on #90
Thank you very much for your contribution!

[2022-01-18 07:56] #90 closed, assigned to nobody

[2022-01-18 07:56] #89 closed, assigned to nobody

[2022-01-19 16:30] saccarosium opened #91 "Minor UI fixes"
Hi,
I wanna bring up some inconsistencies between this and the other implementations of the theme.

## Line number

The line number face has the slant italic and for foreground "bg4".  In other editor such as VScode, nvim and atom is not the case.

*Emacs*
<img width="350" alt="Screenshot 2022-01-19 at 4 05 43 PM" src="https://user-images.githubusercontent.com/96259932/150158082-40ab73ea-5a3d-42dd

[2022-01-21 20:44] milouse commented on #91
Thanks for your report. I’ll take some time to review it and see what I can/want to do with this different thing.

[2022-04-06 14:12] milouse opened #92 "New face 'apropos-button'"
Applies to buttons that indicate a face.

[2022-06-01 21:26] #91 closed, assigned to nobody

[2022-09-27 10:07] xiaogaozi opened #95 "The icons in the breadcrumbs of lsp-mode cannot be displayed properly"
The icons in the breadcrumbs of lsp-mode cannot be displayed properly, as shown in the following figure:

<img width="598" alt="image" src="https://user-images.githubusercontent.com/149645/192495603-61350407-d392-4139-a780-3ff760beab14.png">

*Expected*

<img width="588" alt="image" src="https://user-images.githubusercontent.com/149645/192494977-538ed927-ce49-46c1-b749-a9ccb108f53e.png">

*Current